[submodule "forks/yunohost"]
	path = forks/yunohost
	url = https://github.com/imattau/nostrhost-yunohost.git
	branch = nostrhost
[submodule "forks/portal"]
	path = forks/portal
	url = https://github.com/imattau/nostrhost-portal.git
[submodule "forks/admin"]
	path = forks/admin
	url = https://github.com/imattau/nostrhost-admin.git
[submodule "forks/ssowat"]
	path = forks/ssowat
	url = https://github.com/imattau/nostrhost-ssowat.git
[submodule "libs/nostrhost-auth"]
	path = libs/nostrhost-auth
	url = https://github.com/imattau/nostrhost-auth.git
[submodule "libs/nostrhost-policy"]
	path = libs/nostrhost-policy
	url = https://github.com/imattau/nostrhost-policy.git
[submodule "libs/nostrhost-catalog"]
	path = libs/nostrhost-catalog
	url = https://github.com/imattau/nostrhost-catalog.git
[submodule "libs/nostrhost-control"]
	path = libs/nostrhost-control
	url = https://github.com/imattau/nostrhost-control.git
